@using Sportify.Data.ViewModels.Countries

@model Sportify.Data.ViewModels.Users.CreateAccountViewModel

@{
    ViewData["Title"] = "CreateAccount";
}

<h2 class="text-center">Create Account</h2>

@if (this.ViewData.ContainsKey("Error"))
{
    <div class="col-md-6 offset-3 alert alert-dismissible alert-danger text-center">
        <strong>@this.ViewData["Error"]</strong>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <form asp-action="CreateAccount" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="Password" class="form-control" placeholder="Password"/>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password"/>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-user"></i></span>
                    </div>
                    <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-user"></i></span>
                    </div>
                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                    </div>
                    <input asp-for="BirthDate" class="form-control" placeholder="Birth Date" />
                </div>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-globe"></i></span>
                    </div>
                    <select asp-for="CountryId" class="form-control">
                        <option selected>Select Country</option>
                        @foreach (var name in this.ViewData["Countries"] as IEnumerable<CountrySelectViewModel>)
                        {
                            <option value="@name.Id">@name.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Account" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-controller="Home" asp-action="Index">Back to home</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}