@using Sportify.Data.ViewModels.Countries
@using Sportify.Constants

@model Sportify.Data.ViewModels.Towns.AddTownViewModel

@{
    ViewData["Title"] = "Add Town";
}

<br/>

<h1 class="text-center text-primary">Add Town</h1>

<br/>

<div class="row text-center">
    <div class="col-md-4 offset-md-4 text-center">
        <form asp-area="Administrator" asp-controller="Towns" asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                    </div>
                    <input asp-for="Name" class="form-control" placeholder="Town Name" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-globe"></i></span>
                    </div>
                    <select asp-for="CountryId" class="form-control">
                        <option selected>Select Country</option>
                        @foreach (var name in this.ViewData[GlobalConstants.Countries] as IEnumerable<CountrySelectViewModel>)
                        {
                            <option value="@name.Id">@name.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Add Town" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br/>

<div class="text-center">
    <a asp-area="Administrator" asp-controller="Towns" asp-action="All">Back to all</a>
</div>