@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core

@model IEnumerable<Sportify.Data.ViewModels.Towns.TownViewModel>

@{
    ViewData["Title"] = "Towns";
}

<br />

<h1 class="text-center">Towns</h1>

<br />

<p class="text-center">
    <a asp-area="Administrator" asp-controller="Towns" asp-action="Add" class="btn btn-primary btn-lg">Add Town</a>
</p>

<br />

<table class="table mx-auto table-hover">
    <thead>
        <tr class="row table-primary">
            <th class="col-md-4 text-center">
                Town Name
            </th>
            <th class="col-md-4 text-center">
                Country
            </th>
            <th class="col-md-4 text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row table-dark">
                <td class="col-md-4 text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-md-4 text-center">
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td class="col-md-4 text-center">
                    <a class="btn btn-primary">Edit</a> 
                    <a class="btn btn-success">Details</a> 
                    <a class="btn btn-danger">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.PagedListPager((IPagedList)@Model, page => Url.Action("All", new { page = page }),
        new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            UlElementClasses = new string[] { "pagination", "justify-content-center" },
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
        })
</div>

<br />

<div class="text-center">
    <a asp-area="Administrator" asp-controller="Home" asp-action="Index">Back to home</a>
</div>