@using Sportify.Constants
@using Sportify.Data.ViewModels.Sports

@model Sportify.Data.ViewModels.Disciplines.AddDisciplineViewModel

@{
    ViewData["Title"] = "Add Discipline";
}

<br />

<h1 class="text-center text-primary">Add Discipline</h1>

<br/>

<div class="row text-center">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-table-tennis"></i></span>
                    </div>
                    <input asp-for="Name" class="form-control" placeholder="Discipline Name" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-font"></i></span>
                    </div>
                    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportId" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-futbol"></i></span>
                    </div>
                    <select asp-for="SportId" class="form-control">
                        <option selected>Select Sport</option>
                        @foreach (var name in this.ViewData[GlobalConstants.Sports] as IEnumerable<SportViewModel>)
                        {
                            <option value="@name.Id">@name.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="SportId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Add Discipline" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div class="text-center">
    <a asp-area="Sport" asp-controller="Disciplines" asp-action="All">Back to all</a>
</div>