@{
    ViewData["Title"] = "Home Administrator";
}

<br/>

<div class="jumbotron">
    <h1 class="text-center">SPORTify</h1>

    <h2 class="text-center">Welcome Administrator - @this.User.Identity.Name</h2>
</div>

<hr />

<div class="row">
    <div class="col-md-3">
        <a asp-area="Administrator" asp-controller="UsersAdmin" asp-action="AllUsers">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="fas fa-users"></i> Users</h1>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-area="Administrator" asp-controller="TownsAdmin" asp-action="AllTowns">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="fas fa-building"></i> Towns</h1>
                </div>
            </div>
        </a>
    </div>
</div>
