@{
    ViewData["Title"] = "Home Administrator";
}

<br/>

<div class="jumbotron">
    <h1 class="text-center">SPORTify</h1>

    <h2 class="text-center">Welcome Administrator - @this.User.Identity.Name</h2>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <a asp-area="Administrator" asp-controller="UsersAdmin" asp-action="AllUsers">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h2 class="card-title text-center"><i class="fas fa-users"></i> Users</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a asp-area="Administrator" asp-controller="TownsAdmin" asp-action="AllTowns">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h2 class="card-title text-center"><i class="fas fa-city"></i> Towns</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a asp-area="Administrator" asp-controller="SportsAdmin" asp-action="AllSports">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h2 class="card-title text-center"><i class="fas fa-futbol"></i> Sports</h2>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a asp-area="Administrator" asp-controller="DisciplinesAdmin" asp-action="All">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h2 class="card-title text-center"><i class="fas fa-table-tennis"></i> Disciplines</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a asp-area="" asp-controller="Organizations" asp-action="All">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h2 class="card-title text-center"><i class="fas fa-briefcase"></i> Organizations</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a asp-area="" asp-controller="Venues" asp-action="AllVenues">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h2 class="card-title text-center"><i class="fas fa-landmark"></i> Venues</h2>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a asp-area="" asp-controller="Events" asp-action="All">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h2 class="card-title text-center"><i class="fas fa-calendar"></i> Events</h2>
                </div>
            </div>
        </a>
    </div>
</div>
