@{
    ViewData["Title"] = "Access Denied";
}

<br/>

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">You do not have access to this resource.</p>

<br/>

<div class="text-center">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to home</a>
</div>