@using Sportify.Web.Constants

@{
    ViewData["Title"] = Global.AccessDeniedTitle;
}

<br/>

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">You do not have access to this resource.</p>

<br/>

<div class="text-center">
    <a asp-area="@Area.Base" asp-controller="@Controllers.Home" asp-action="@Actions.HomeIndex" class="btn btn-primary">Back to home</a>
</div>