@using Sportify.Data.ViewModels.Countries

@model Sportify.Data.ViewModels.Countries.SearchCountryViewModel

@{
    ViewData["Title"] = "Home";
}

<img src="/images/sss960.jpg" class="img-fluid" alt="Responsive image">

<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-area="" asp-controller="Events" asp-action="SearchEvents" class="form-inline" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="CountryId" class="form-control">
                    <option selected>Select Country</option>
                    @foreach (var name in this.ViewData["Countries"] as IEnumerable<CountrySelectViewModel>)
                    {
                        <option value="@name.Id">@name.Name</option>
                    }
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>