@{
    ViewData["Title"] = "Home";
}
<br />
<div class="jumbotron">
    <h1 class="display-1 text-center">Welcome to SPORTify!</h1>
</div>

<img src="/images/sss960.jpg" class="img-fluid" alt="Responsive image">
