@using Sportify.Constants

@{
    ViewData["Title"] = "Invalid";
}

<br />

<h1 class="text-danger">Invalid Page</h1>

<h3 class="text-danger">@ViewData[GlobalConstants.Message]</h3>

<br />

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a>
</div>