<footer>
    <div class="row">
        <div class="col-md-4 text-center">
            <a asp-controller="Home" asp-action="Index" style="color: white">About Us</a>
        </div>
        <div class="col-md-4 text-center">
            <a asp-controller="Home" asp-action="Index" style="font-size: 30px; color: white">SPORTify</a>
        </div>
        <div class="col-md-4 text-center">
            <a asp-controller="Home" asp-action="Index" style="color: white">Contact Us</a>
        </div>
    </div>
    <br/>
    <div class="text-center">
        <p>&copy; Copyright @DateTime.UtcNow.Year - SPORTify</p>
    </div>
</footer>