<footer>
    <div class="text-center">
        <a asp-controller="Home" asp-action="Index">
            <img src="images/Sportify-Image.png" alt="Sportify Logo" title="Sportify Logo" width="100"/>
        </a>
    </div>
    <br/>
    <div class="text-center">
        <p>&copy; Copyright @DateTime.UtcNow.Year - Sportify</p>
    </div>
</footer>