@using Microsoft.AspNetCore.Identity
@using Sportify.Constants;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="UpdateAccount"><i class="fas fa-user-edit"></i> Administrator - @UserManager.GetUserName(User)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="SignOut"><i class="fas fa-user-slash"></i> Sign Out</a>
    </li>
</ul>