@using Microsoft.AspNetCore.Identity
@using Sportify.Constants

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="collapse navbar-collapse" id="navbarResponsive">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-futbol"></i> Sports
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a asp-area="Sport" asp-controller="Sports" asp-action="AllSports" class="dropdown-item">All Sports</a>
        </div>
    </div>
    

    @if (SignInManager.IsSignedIn(User))
    {
        if (this.User.IsInRole(Role.Administrator))
        {
            <partial name="_NavbarAdministratorPartial"/>
        }
        else if (this.User.IsInRole(@Role.Editor))
        {
            <partial name="_NavbarEditorPartial"/>
        }
        else
        {
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="UpdateAccount"><i class="fas fa-user-edit"></i> Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="SignOut"><i class="fas fa-user-slash"></i> Sign Out</a>
                </li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="CreateAccount"><i class="fas fa-user-plus"></i> Create Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="SignIn"><i class="fas fa-user"></i> Sign In</a>
            </li>
        </ul>
    }
</div>