@using Microsoft.AspNetCore.Identity
@using Sportify.Constants;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@*<ul class="navbar-nav">
    <li>
        <a class="nav-link" asp-area="Administrator" asp-controller="Disciplines" asp-action="All"><i class="fas fa-table-tennis"></i> Disciplines</a>
    </li>
    <li>
        <a class="nav-link" asp-area="Sport" asp-controller="Sports" asp-action="All"><i class="fas fa-futbol"></i> Sports</a>
    </li>
    <li>
        <a class="nav-link" asp-area="Administrator" asp-controller="Towns" asp-action="All"><i class="fas fa-city"></i> Towns</a>
    </li>
    <li>
        <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="All"><i class="fas fa-users"></i> Users</a>
    </li>
    <li>
        <a class="nav-link" asp-area="" asp-controller="Messages" asp-action="All"><i class="fas fa-envelope"></i> Messages</a>
    </li>
</ul>*@
<ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="UpdateAccount"><i class="fas fa-user-edit"></i> Administrator - @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="SignOut"><i class="fas fa-user-slash"></i> Sign Out</a>
    </li>
</ul>