@using Sportify.Constants

@model Sportify.Data.ViewModels.Users.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<br/>

<h1 class="text-center text-primary">Change Password</h1>

@if (this.ViewData.ContainsKey(GlobalConstants.Error))
{
    <div class="col-md-6 offset-3 alert  alert-danger text-center">
        <strong>@this.ViewData[GlobalConstants.Error]</strong>
    </div>
}
@if (this.ViewData.ContainsKey(GlobalConstants.Message))
{
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <strong>@this.ViewData[GlobalConstants.Message]</strong>
    </div>
}

<br/>

<div class="row text-center">
    <div class="col-md-4 offset-md-4">
        <form asp-area="Identity" asp-controller="Users" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="OldPassword" class="form-control" placeholder="Old Password" />
                </div>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-danger">Update password</button>
        </form>
    </div>
</div>

<br/>

<div class="text-center">
    <a asp-area="Identity" asp-controller="Users" asp-action="UpdateAccount">Back to update</a>
</div>