@using Sportify.Constants

@model Sportify.Data.ViewModels.Users.SignInViewModel

@{
    ViewData["Title"] = "Sign In";
}

<br/>

<h1 class="text-center">Sign In</h1>

@if (this.ViewData.ContainsKey(GlobalConstants.Error))
{
    <div class="col-md-6 offset-3 alert alert-dismissible alert-danger text-center">
        <strong>@this.ViewData[GlobalConstants.Error]</strong>
    </div>
}

<hr />

<div class="row text-center">
    <div class="col-md-4 offset-md-4">
        <form asp-area="Identity" asp-controller="Users" asp-action="SignIn" asp-route-returnurl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Sign In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a>
</div>