@{
    ViewData["Title"] = "Home Administrator";
}

<div class="jumbotron" style="background: #222222">
    <h1 class="text-center">SPORTify</h1>
    
    <h2 class="text-center">Welcome Mr. Administrator</h2>
</div>