<footer>
    <div class="text-center">
        <a asp-area="Administrator" asp-controller="Home" asp-action="Index" style="font-size: 30px;">SPORTify</a>
    </div>
    <br />
    <div class="text-center">
        <p>&copy; Copyright @DateTime.UtcNow.Year - SPORTify</p>
    </div>
</footer>