@using Microsoft.AspNetCore.Identity
@using Sportify.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-area="Administrator" asp-controller="Towns" asp-action="AllTowns">Towns</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Administrator - @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="SignOut">Sign Out</a>
        </li>
    </ul>
</div>





@*@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Users" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Administrator - @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a asp-controller="Users" asp-action="SignOut">Sign Out</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Users" asp-action="CreateAccount">Create Account</a></li>
        <li><a asp-controller="Users" asp-action="SignIn">Sign In</a></li>
    </ul>
}*@